<div class="graph" (click) = "MouseClicked($event)">

	<div *ngIf="nodesManager.nodes">
	
		<div *ngFor = "let node of nodesManager.nodes">

			<app-node [index] = "node.index" [posX] = "node.posX" [posY] = "node.posY" [isClicked]="node.isClicked"
						[color] = "node.color" [infos] = "node.infos"
			></app-node>

		</div>

	</div>

	<div *ngIf="nodesManager.edges">
	
		<div *ngFor = "let edge of nodesManager.edges">

			<app-edge [edgeProp] = "edge"></app-edge>

		</div>

	</div>

	<div *ngIf = "nodesManager.infos.length > 0" class = "alg-info">
		<div >
			<div *ngFor = "let info of nodesManager.infos">
				{{info.info}}: <span [ngStyle] = "{'color': info.value, 'font-weight': 'bold'}">{{info.value}}</span>
			</div>
		</div>
	</div>

</div>



