<div class ="center main" [ngClass] = "{'hidden' : hide === true}">
	<div style="align-self: flex-end; padding: 8px;">{{tutorial_index+1}}/6</div>
	
	<div data-js = "tutorial" class = "tutorial">

		<!-- DYNAMIC CONTENT -->

	</div>

	<div style = "padding: 8px;">
		<button (click) = "SkipClicked ()">Skip Tutorial</button>

		<div style="float: right;">
			<button (click) = "PreviousClicked()">Previous</button>
			&nbsp;
			<button (click) = "NextClicked ()">Next</button>
		</div>
	</div>
	
</div>
