* {
	box-sizing: border-box;
}

.row{
	display: block;
	width: 100%;
	height: 100%;
}

.row__col{
	position: relative;
	float: left;
	height: 100%;
}

.row__col--25{
	width: 25%;
}
.row__col--33{
	width: 33.33%;
}
.row__col--50{
	width: 50%;
}
.row__col--75{
	width: 75%;
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.center--right{
	position: absolute;
	top: 50%;
	right: 0%;
	transform: translate(-14px, -50%);
}
.center_v{
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
}

button {
	margin: 0;
	padding: 12px;
	border-radius: 10%;
	font: inherit;
	color: inherit;
	outline: none;
	background-color: #29dfba;
	transition: 0.2s;
}
button:hover{
	background-color: #2ef7cf;
}
button:active{
	background-color: #25c9a8;
}


select {
	padding: 8px;
	outline: none;
	border: none;
	background-color: #567fa9;
}

select option{
	outline: none;
	border: none;
	background-color: #567fa9;
}